___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 03</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Pandas Series</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [CREATING PANDAS SERIES](#1)
    * [Using Lists](#1.1)
    * [Using Numpy Arrays](#1.2)
    * [Using Dictionaries](#1.3)
    * [Using Scalar Value](#1.4)
* [DATA IN A SERIES](#2)
* [BASIC ATTRIBUTES & METHODS OF SERIES](#3)
* [INDEXING AND SLICING WÄ°TH PANDAS SERIES](#4)
* [Selection with Condition and Broadcasting](#5)
* [RECAP FOR SEVERAL SELECTING ATTRIBUTES](#6)
* [THE END OF THE SESSION-03](#7)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Creating a Pandas Series</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Pandas series is a one-dimensional data structure. It can hold data of many types including objects, floats, strings and integers. You can create a series by calling pandas.Series(). A list, numpy array, dict can be turned into a pandas series. You should use the simplest data structure that meets your needs [Source](https://pythonbasics.org/pandas-series/). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index [Source](https://www.geeksforgeeks.org/creating-a-pandas-series/).

[SOURCE01](https://pandas.pydata.org/docs/reference/api/pandas.Series.html), [SOURCE02](https://www.datasciencemadesimple.com/create-series-in-python-pandas/), 
[SOURCE03](https://www.cbsecsip.in/2020/08/pandas-data-structure-series.html), 
[SOURCE04](https://towardsdatascience.com/pandas-series-a-lightweight-intro-b7963a0d62a2), 
[SOURCE05](https://www.educba.com/pandas-series/), 
[SOURCE06](http://www.rebellionrider.com/python-pandas-series-in-detail-part-1/), 
[SOURCE06](https://www.javatpoint.com/python-pandas-series), &
[SOURCE06](https://towardsdatascience.com/20-examples-to-master-pandas-series-bc4c68200324)<br>

In this lecture we will discuss how to create Pandas Series, use basic attributes of Series, index Pandas Series & be familiar with Pandas Dataframes.

**You can create a series by calling pandas. Series() . A list, numpy array, dict and scalar value can be turned into a pandas series.**

**``pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)``**

One-dimensional ndarray with axis labels (including time series).

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Lists</p>

<a id="1.2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**To turn a list into a series, all you have to do is:**

In [5]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

By default it assigns an index. First it shows the index, then the element value.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using NumPy Arrays</p>

<a id="1.2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**You can create a series from a numpy ndarray.**

In [7]:
arr

array([10, 20, 30])

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
labels

['a', 'b', 'c']

In [12]:
pd.Series(data = arr, index = labels) # data and index need to have same length

a    10
b    20
c    30
dtype: int32

In [14]:
# pd.Series(data = arr, index = ['a', 'b', 'c', 'd']) # data and index need to have same length

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Dictionaries</p>

<a id="1.2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**If you have a dictionary, you can turn it into a series:**

In [15]:
d

{'a': 10, 'b': 20, 'c': 30}

In [16]:
pd.Series(d) # uses dict.key as index and dict.values as cell values

a    10
b    20
c    30
dtype: int64

It used the dictionary keys as index. The keys of the dictionary match with the Index values; hence, the default Index values have no effect.

In [17]:
pd.Series(data = d, index = ['k', 'b', 'y', 'p'])

k     NaN
b    20.0
y     NaN
p     NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary. After this the Series is reindexed with the given Index values, hence we get all NaN as a result.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Scalar Value</p>

<a id="1.2.4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``Scalars``** are single values representing one unit of data, such as an integer or bool, as opposed to data structures like a list or tuple, which are composed of scalars.

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index [Source](https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm).

In [18]:
pd.Series(data='ilknur')

0    ilknur
dtype: object

In [19]:
pd.Series(data="ilknur", index=range(3))

0    ilknur
1    ilknur
2    ilknur
dtype: object

In [20]:
pd.Series(data="ilknur", index=["champion"])

champion    ilknur
dtype: object

In [21]:
pd.Series(data=10, index=['a', 'b', 'c'])

a    10
b    10
c    10
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Data in a Series</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``A series``** is a **one-dimensional data structure**. A Series is very **similar to a NumPy array** (in fact it is built on top of the NumPy array object). **What differentiates** the NumPy array from a Series, is that a Series can **have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesnât need to hold numeric data, it can hold any arbitrary Python Object [Source](http://www.datasciencelovers.com/python-for-data-science/pandas-series/).

So important point to remember for Pandas series is:

- Homogeneous data
- Size Immutable
- Values of Data Mutable

**A pandas Series can hold a variety of object types:**

In [22]:
pd.Series(data=[set, list, dict])

0     <class 'set'>
1    <class 'list'>
2    <class 'dict'>
dtype: object

In [23]:
ser = pd.Series(data=[set, list, dict])
ser[0]

set

In [24]:
ser[0]([1, 3, 3, 4, 4, 5])

{1, 3, 4, 5}

Even functions (although unlikely that you will use this)

In [25]:
pd.Series(data= [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [27]:
ser1 = pd.Series(data= [sum, print, len])
ser1[1]

In [29]:
ser1[1]("hello world")

hello world

In [31]:
ser1[2]("clarusway")

9

In [32]:
mix_data = ["Ahmet", 5, True, 3.14]

In [33]:
ser2 = pd.Series(mix_data) # if there is a string value, returns dtype as 'object'
ser2

0    Ahmet
1        5
2     True
3     3.14
dtype: object

In [38]:
ser2.dtype

dtype('O')

In [39]:
type(ser2)

pandas.core.series.Series

In [40]:
type(ser2[0])

str

In [41]:
type(ser2[3])

float

In [43]:
arr = np.array(mix_data) # converts to string, because str is most inclusive data type
arr

array(['Ahmet', '5', 'True', '3.14'], dtype='<U32')

In [44]:
arr.dtype

dtype('<U32')

In [45]:
type(arr)

numpy.ndarray

In [46]:
type(arr[2])

numpy.str_

In [47]:
type(arr[1])

numpy.str_

[Reminder Source for Numpy Arrays](https://pythonguides.com/python-numpy-data-types/)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">BASIC ATTRIBUTES & METHODS OF SERIES</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**SOME COMMON ATTRIBUTES** [Official Pandas API Document](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)<br>

**Series.dtype**	It returns the data type of the data.<br>
**Series.shape**	It returns a tuple of shape of the data.<br>
**Series.size**	    It returns the size of the data.<br>
**Series.ndim**	    It returns the number of dimensions in the data.<br>
**Series.index**	Defines the index of the Series.<br>
**Series.keys**  	Return alias for index.<br>
**Series.values**   Returns Series as ndarray or ndarray-like depending on the dtype.<br>
**Series.items**	Lazily iterate over (index, value) tuples.<br>
**Series.head**   	Return the first n rows.<br>
**Series.tail** 	Return the last n rows.<br>
**Series.sample**   Return a random sample of items from an axis of object.<br>
**Series.sort_index**  Sort Series by index labels.<br>
**Series.sort_values**  Sort by the values.<br>
**Series.isin**     Whether elements in Series are contained in values.<br>

In [48]:
ser4 = pd.Series(data=np.random.randint(0, 100, 7))
ser4

0    33
1    29
2    68
3    40
4    98
5    32
6    88
dtype: int32

In [49]:
type(ser4)

pandas.core.series.Series

In [51]:
ser4.dtype

dtype('int32')

In [52]:
ser4.shape

(7,)

In [54]:
ser4.size

7

In [55]:
len(ser4)

7

In [56]:
ser4.ndim

1

In [57]:
ser4

0    33
1    29
2    68
3    40
4    98
5    32
6    88
dtype: int32

In [59]:
ser4.index

RangeIndex(start=0, stop=7, step=1)

In [62]:
ser4.keys()

RangeIndex(start=0, stop=7, step=1)

In [64]:
list(ser4.index)

[0, 1, 2, 3, 4, 5, 6]

In [65]:
list(ser4.keys())

[0, 1, 2, 3, 4, 5, 6]

In [66]:
ser4.values

array([33, 29, 68, 40, 98, 32, 88])

In [68]:
ser4.items

<bound method Series.items of 0    33
1    29
2    68
3    40
4    98
5    32
6    88
dtype: int32>

In [70]:
ser4.items()

In [71]:
list(ser4.items())

[(0, 33), (1, 29), (2, 68), (3, 40), (4, 98), (5, 32), (6, 88)]

In [72]:
print(*ser4.items(), sep='\t', end='\n') 
print(*ser4.index, sep='\t', end='\n') 
print(*ser4.values, sep='\t', end='\n')

(0, 33)	(1, 29)	(2, 68)	(3, 40)	(4, 98)	(5, 32)	(6, 88)
0	1	2	3	4	5	6
33	29	68	40	98	32	88

In [73]:
ser5 = pd.Series(data=np.random.randint(0, 25, 10), index=[i for  i in 'qwertyuiop'])
ser5

q    16
w     1
e    12
r    19
t     2
y    16
u    18
i    13
o     0
p    14
dtype: int32

In [74]:
ser5.head()

q    16
w     1
e    12
r    19
t     2
dtype: int32

In [76]:
ser5.tail()

y    16
u    18
i    13
o     0
p    14
dtype: int32

In [77]:
ser5.sample()

o    0
dtype: int32

In [78]:
ser5.sample(3)

u    18
y    16
w     1
dtype: int32

In [80]:
ser5.sort_index(ascending=True)

e    12
i    13
o     0
p    14
q    16
r    19
t     2
u    18
w     1
y    16
dtype: int32

In [81]:
ser5.sort_index(ascending=False)

y    16
w     1
u    18
t     2
r    19
q    16
p    14
o     0
i    13
e    12
dtype: int32

In [82]:
ser5.sort_index(ascending=True).head()

e    12
i    13
o     0
p    14
q    16
dtype: int32

In [84]:
ser5.sort_values(ascending=False).tail()

i    13
e    12
t     2
w     1
o     0
dtype: int32

In [85]:
ser5

q    16
w     1
e    12
r    19
t     2
y    16
u    18
i    13
o     0
p    14
dtype: int32

In [86]:
ser5.isin([14, 18])

q    False
w    False
e    False
r    False
t    False
y    False
u     True
i    False
o    False
p     True
dtype: bool

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Indexing and Slicing with Pandas Series</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As stated and implemented by examples above, a Series is very similar to a NumPy array. What differentiates the NumPy array from a Series is that **a Series can have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesnât need to hold numeric data, it can hold any arbitrary Python Object [Source](https://rpubs.com/pjozefek/659184).

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look up of information.

The axis labeling information in pandas objects serves many purposes:

- Identifies data (i.e. provides metadata) using known indicators, important for analysis, visualization, and interactive console display.
- Enables automatic and explicit data alignment.
- Allows intuitive getting and setting of subsets of the data set.

In this section, we will focus on the final point: namely, how to slice, dice, and generally get and set subsets of pandas objects. The primary focus will be on Series and DataFrame as they have received more development attention in this area. For more information, please visit [pandas-docs.github.io](https://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html)

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [87]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','RF', 'Japan'])
ser2 = pd.Series([1, 2, 5, 4, 6], index = ['USA', 'Germany','Italy', 'Japan', 'Spain'])

The two main data structures in pandas both have at least one axis. A **Series** has **one axis**, the index. A **DataFrame** has **two axes**, the index and the columns. Itâs useful to note here that in all the DataFrame functions that can be applied to either rows or columns, an axis of 0 refers to the index, an axis of 1 refers to the columns.

In [88]:
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [89]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [90]:
ser1.sort_index()

Germany    2
Japan      4
RF         3
USA        1
dtype: int64

In [91]:
ser2.sort_values()

USA        1
Germany    2
Japan      4
Italy      5
Spain      6
dtype: int64

**We're going to start with the basic form of selecting, using the [ ] operator.**

If we donât introduce labels into our Series the index by default will be the natural numbers starting from 0. So the index will be the number of data introduced - 1.

In [92]:
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [93]:
ser1[3]

4

In [97]:
ser1.values[3]

4

In [94]:
ser1.index[3] #returns index alias

'Japan'

In [96]:
ser1.index.get_loc("Japan") # find an alias' index number

3

In [98]:
ser1['Japan']

4

In [99]:
ser1.Japan # SQL syntax

4

As seen above, with a Series, the call will return a single scalar value that matches the value at that label in the index. If you pass in a value for a label that doesn't exist, you will get a KeyError raised. Also, if you pass in an integer and your index has that value, it will return it. But if you don't have an integer value in your index, it will return the value by position. This is convenient, but can be confusing.

**Let's see some slicing example with Series**

In [100]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [101]:
ser2[2:]

Italy    5
Japan    4
Spain    6
dtype: int64

In [102]:
ser2[::-1]

Spain      6
Japan      4
Italy      5
Germany    2
USA        1
dtype: int64

**Another huge pro of using labelled indexes is that you can perform operations between two different series and pandas know what labels have both series in common and does the addition automatically.**

Operations are then also done based on index:

In [104]:
ser1 + ser2 # executes the common items

Germany    4.0
Italy      NaN
Japan      8.0
RF         NaN
Spain      NaN
USA        2.0
dtype: float64

In [105]:
ser1 * ser2 # executes the common items

Germany     4.0
Italy       NaN
Japan      16.0
RF          NaN
Spain       NaN
USA         1.0
dtype: float64

**Let's make changes on indexes:**

In [107]:
ser3 = pd.Series(data = [121, 200, 150, 99], index = ["terry", "michael", "orion", "jason"])
ser3

terry      121
michael    200
orion      150
jason       99
dtype: int64

In [108]:
ser3["terry"]

121

In [109]:
ser3[0]

121

In [110]:
ser3[[0, 2]]

terry    121
orion    150
dtype: int64

In [111]:
ser3[["terry", "orion"]]

terry    121
orion    150
dtype: int64

In [112]:
ser3[0:3]

terry      121
michael    200
orion      150
dtype: int64

In [113]:
ser3["terry":"jason"] # alias (tag) number returns inclusive last value

terry      121
michael    200
orion      150
jason       99
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Selection with Condition and Broadcasting</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [114]:
ser3

terry      121
michael    200
orion      150
jason       99
dtype: int64

In [115]:
"terry" in ser3

True

In [116]:
121 in ser3.values

True

In [117]:
ser3 < 100

terry      False
michael    False
orion      False
jason       True
dtype: bool

In [119]:
ser3[ser3<100]

jason    99
dtype: int64

In [120]:
ser3[ser3<100] = 100
ser3

terry      121
michael    200
orion      150
jason      100
dtype: int64

In [121]:
ser3.isin([121])

terry       True
michael    False
orion      False
jason      False
dtype: bool

In [122]:
ser3[ser3.isin([121])]

terry    121
dtype: int64

In [123]:
ser3[ser3.isin([121])] = 125
ser3

terry      125
michael    200
orion      150
jason      100
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Recap for Several Selecting Attributes</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [124]:
ser3

terry      125
michael    200
orion      150
jason      100
dtype: int64

In [125]:
ser3.keys()

Index(['terry', 'michael', 'orion', 'jason'], dtype='object')

In [126]:
ser3.index

Index(['terry', 'michael', 'orion', 'jason'], dtype='object')

In [127]:
ser3.values

array([125, 200, 150, 100], dtype=int64)

In [128]:
list(ser3.items())

[('terry', 125), ('michael', 200), ('orion', 150), ('jason', 100)]

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 03</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___