<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="500" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Python Pandas Exercise</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Teamwork Mentoring Group Week-4</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">24 May 2022</p>

https://pynative.com/python-pandas-exercise/

This Pandas exercise project will help Python developers to learn and practice pandas. Pandas is an open-source, BSD-licensed Python library. Pandas is a handy and useful data-structure tool for analyzing large and complex data.

Practice DataFrame, Data Selection, Group-By, Series, Sorting, Searching, statistics. Practice Data analysis using Pandas.

In this exercise, we are using Automobile Dataset for data analysis. This Dataset has different characteristics of an auto such as body-style, wheel-base, engine-type, price, mileage, horsepower, etc.

## <p style="background-color:#896ce0; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Import Libraries Needed in This Notebook</p>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib

import seaborn as sns

%matplotlib inline

## <p style="background-color:#896ce0; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Create DataFrame from `Automobile_data.csv` file</p>

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 1: From the given dataset print the first and last five rows</p>

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 2: Clean the dataset and update the CSV file</p>

Replace all column values which contain `?`, `n.a`, or `NaN`.

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 3: Find the most expensive car company name</p>

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 4: Print All Toyota Cars details</p>

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 5: Count total cars per company</p>

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 6: Find each companyâ€™s Highesht price car</p>

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 7: Find the average mileage of each car making company</p>

Python Pandas printing average mileage of each car making company

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 8: Sort all cars by Price column</p>

Python Pandas sort all cars by price column

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 9: Concatenate two data frames using the following conditions</p>

Create two data frames using the following two dictionaries.

```
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

```

Python Pandas concatenate two data frames and create a key for each data frame

## <p style="background-color:#d64161; font-family:newtimeroman; color:#FFF9ED; font-size:125%; text-align:center; border-radius:10px 10px;">Exercise 10: Merge two data frames using the following condition</p>

Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.

```
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

```

Python Pandas merge two data frames and append new data frame as a new column