# Time Sensitive Real Interview Questions-1

Use 'sales_082020.csv' and 'currency_rates_082020_EUR.csv' files

**Import libraries**

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

 
1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)

In [138]:
sales_df = pd.read_csv('sales_082020.csv')

 
2. How many columns in the sales dataset?(Just write the numbers)

3. What is the total number of sellers?(Just write the numbers in the format of 000.000)

 
4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )

5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

6. How many items in the “Jewellery” category have no brand associated with them?(Just write the numbers in the format of 00.000)

 
7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

 
8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)

 
9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

10. What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers in the format of 0.000.000 )

11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)

In [133]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [135]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

In [137]:
sales_df.groupby("brand").filter(lambda x: len(x) >=35 and len(x) <=55).nunique()

buyer_id          3237
buyer_country        9
seller_id         3135
seller_country       3
product_code      3451
category            12
brand               81
currency             4
price             2478
date                 7
dtype: int64

## backup

In [92]:
sales_df.date.value_counts()

2020-08-08    36541
2020-08-03    36150
2020-08-07    35745
2020-08-09    34764
2020-08-04    33525
2020-08-06    32639
2020-08-05    28307
Name: date, dtype: int64

In [98]:
sales_df.date[0]

'2020-08-03'

In [100]:
type(sales_df.date[0])

str

In [101]:
sales_df["new_date"] = sales_df.date.apply(lambda x: x.split("-"))

In [102]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,new_date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,"[2020, 08, 03]"
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09,"[2020, 08, 09]"
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07,"[2020, 08, 07]"
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09,"[2020, 08, 09]"
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09,"[2020, 08, 09]"

In [93]:
currency_df = pd.read_csv('currency_rates_082020_EUR.csv')

In [103]:
currency_df["new_date"] = currency_df.date.apply(lambda x: x.split("/"))

In [110]:
type(currency_df.new_date[0][0])

str

In [112]:
currency_df.new_date[:][:].apply(lambda x: int(x))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [111]:
currency_df.new_date = currency_df.new_date(dtype = 'int')

TypeError: 'Series' object is not callable

In [104]:
currency_df.head()

  currency      date  rate      new_date
0      EUR  8/1/2020   1.0  [8, 1, 2020]
1      EUR  8/2/2020   1.0  [8, 2, 2020]
2      EUR  8/3/2020   1.0  [8, 3, 2020]
3      EUR  8/4/2020   1.0  [8, 4, 2020]
4      EUR  8/5/2020   1.0  [8, 5, 2020]

In [95]:
currency_df.date.value_counts()

8/1/2020     22
8/2/2020     22
8/3/2020     22
8/4/2020     22
8/5/2020     22
8/6/2020     22
8/7/2020     22
8/8/2020     22
8/9/2020     22
8/10/2020    22
Name: date, dtype: int64

In [96]:
currency_df.date[0]

'8/1/2020'

In [97]:
type(currency_df.date[0])

str

In [113]:
sales_df.seller_country.value_counts()

GB     139203
US      82111
AU       7592
IE       3014
IT       2464
CA       1971
RoW      1128
DE        135
FR         53
Name: seller_country, dtype: int64

In [114]:
sales_df[(sales_df.seller_country == "US") & (sales_df.buyer_country == "US")]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,new_date
23,94lh9gu3bu,US,dhsa2q6o,US,1m846u2l2dyl,Jewellery,NaN,USD,16.29,2020-08-03,"[2020, 08, 03]"
24,fmdcxftbp1,US,dhsa2q6o,US,9xo46id3ggkm,Tops - Womens,NaN,USD,18.35,2020-08-06,"[2020, 08, 06]"
79,nk167akpfw,US,zhu1ajrz,US,431v9gn7ouiw,Music,NaN,USD,13.44,2020-08-03,"[2020, 08, 03]"
80,nk167akpfw,US,zhu1ajrz,US,36o939nzswpa,Music,NaN,USD,5.53,2020-08-03,"[2020, 08, 03]"
81,nk167akpfw,US,zhu1ajrz,US,8mli531pzaba,Music,NaN,USD,5.26,2020-08-03,"[2020, 08, 03]"
...,...,...,...,...,...,...,...,...,...,...,...
237660,f9jbvr90xu,US,quu0ky19,US,50vyfd46inih,Shoes,NaN,USD,25.84,2020-08-06,"[2020, 08, 06]"
237662,say6ah2869,US,2jwn7shh,US,dfo3ztaga4de,Accessories,NaN,USD,9.15,2020-08-05,"[2020, 08, 05]"
237663,jji9og2wj0,US,w8g31gsr,US,gjwpt7hxl03u,Shoes,American Apparel,USD,33.56,2020-08-04,"[2020, 08, 04]"
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05,"[2020, 08, 05]"
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06,"[2020, 08, 06]"

In [115]:
len(sales_df[(sales_df.seller_country == "US") & (sales_df.buyer_country == "US")])

80658

In [116]:
len(sales_df[sales_df.seller_country == "US"])

82111

In [117]:
(len(sales_df[(sales_df.seller_country == "US") & (sales_df.buyer_country == "US")])) / (len(sales_df[sales_df.seller_country == "US"]))

0.9823044415486354

In [90]:
sales_df[(sales_df.seller_country == "GB") & (sales_df.buyer_country == "GB")]["price"].sum()

3184495.5800000005

In [126]:
sales_df[(sales_df.brand.value_counts() >= 35) & (sales_df.brand.value_counts() <= 55)]

C:\Users\hatic\AppData\Local\Temp/ipykernel_11140/89429394.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sales_df[(sales_df.brand.value_counts() >= 35) & (sales_df.brand.value_counts() <= 55)]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [6]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [7]:
sales_df.seller_id.nunique()

114227

In [8]:
sales_df.seller_id.value_counts()

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
b79drc4f      1
ivtfeqcd      1
uvfzdgb4      1
pbrox97s      1
0au7baxi      1
Name: seller_id, Length: 114227, dtype: int64

In [9]:
sales_df.currency.value_counts()

GBP    139478
USD     82558
AUD      7580
EUR      5934
CAD      1651
NZD       306
CHF        95
SEK        25
DKK        16
JPY         6
SGD         5
PLN         5
MXN         2
NOK         2
THB         1
ILS         1
HKD         1
MYR         1
TWD         1
HUF         1
CZK         1
BRL         1
Name: currency, dtype: int64

In [13]:
sales_df.groupby("currency")["price"].sum()

currency
AUD     325563.44
BRL         34.92
CAD      65101.80
CHF       5974.74
CZK       3923.18
DKK       4853.44
EUR     275837.69
GBP    3449449.49
HKD        108.13
HUF      36919.18
ILS         33.80
JPY      39722.66
MXN        389.47
MYR        263.30
NOK       3168.34
NZD      10532.85
PLN        693.36
SEK      10903.22
SGD        443.37
THB       1223.72
TWD         42.81
USD    2504544.82
Name: price, dtype: float64

In [14]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [15]:
sales_df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [36]:
len(sales_df.brand.value_counts() == 1)

1134

In [39]:
len(sales_df.brand == ("Preen"))

237671

In [45]:
sales_df[sales_df.loc[:,'brand'] == "Preen"].shape

(1, 10)

In [47]:
len(sales_df[sales_df.loc[:,'brand'].value_counts() >= )

1

In [48]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [49]:
sales_df.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [52]:
sales_df[(sales_df.category == "Shoes") & (sales_df.buyer_country == "AU")].shape

(658, 10)

In [53]:
len(sales_df[(sales_df.category == "Shoes") & (sales_df.buyer_country == "AU")])

658

In [50]:
sales_df.buyer_country.value_counts()

GB     134704
US      82661
AU       7868
IE       4046
RoW      2880
IT       2532
CA       2247
DE        466
FR        267
Name: buyer_country, dtype: int64

In [54]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [76]:
sales_df_1 = sales_df.dropna(subset=["brand"], inplace=True)

In [79]:
sales_df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
6,o79pns1qwo,GB,9p2ansc9,GB,dsz1fy32ry6y,Outerwear - Mens,Berghaus,GBP,15.15,2020-08-09
7,bob9rlo4lb,GB,9p2ansc9,GB,jfncu4dmfnoc,Outerwear - Mens,Nike,GBP,21.38,2020-08-04
8,bob9rlo4lb,GB,9p2ansc9,GB,ssmpsnfvopu9,Accessories,Nike,GBP,13.04,2020-08-04
...,...,...,...,...,...,...,...,...,...,...
237655,nm1xpzjn55,GB,19ql9irh,GB,sb8flhvz3m4e,Dresses,Oh Polly,GBP,16.97,2020-08-05
237656,qbtdzd37kh,GB,ta47is8q,GB,vvf5b2i0rs2p,Shoes,Vans,GBP,26.91,2020-08-05
237658,z1r96987u8,AU,tjo1oj36,AU,hegha9dn4fiu,Accessories,Phoebe English,AUD,32.35,2020-08-05
237663,jji9og2wj0,US,w8g31gsr,US,gjwpt7hxl03u,Shoes,American Apparel,USD,33.56,2020-08-04
237665,e5vfphshsu,GB,6cnezohx,GB,lro4soook6h2,Accessories,Hugo Boss,GBP,33.85,2020-08-08

In [80]:
sales_df.brand.isnull().sum()

0

In [81]:
(sales_df.groupby("brand")["price"].apply(np.mean)).max()

339.36333333333334

In [83]:
sales_df.groupby("brand")["price"].mean().argmax()

399

In [84]:
sales_df.iloc[399, :]

buyer_id            f6k9phxccf
buyer_country               US
seller_id             ysg838a4
seller_country              US
product_code      2ju34i4oy8dr
category           Tops - Mens
brand                  Supreme
currency                   USD
price                    36.92
date                2020-08-08
Name: 1301, dtype: object

In [28]:
sales_df[sales_df.brand.value_counts() >= 35]

C:\Users\hatic\AppData\Local\Temp/ipykernel_11140/1866875344.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sales_df[sales_df.brand.value_counts() >= 35]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [26]:
sales_df[(len(sales_df.brand >= 35)) & (len(sales_df.brand <= 55))]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [16]:
sales_df.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [22]:
len(sales_df[(sales_df["category"] == "Jewellery") & sales_df["brand"].isnull()])

13525

In [19]:
sales_df.brand.isnull().sum()

118341

In [91]:
currency_df.head(20)

   currency       date      rate
0       EUR   8/1/2020  1.000000
1       EUR   8/2/2020  1.000000
2       EUR   8/3/2020  1.000000
3       EUR   8/4/2020  1.000000
4       EUR   8/5/2020  1.000000
5       EUR   8/6/2020  1.000000
6       EUR   8/7/2020  1.000000
7       EUR   8/8/2020  1.000000
8       EUR   8/9/2020  1.000000
9       EUR  8/10/2020  1.000000
10      GBP   8/1/2020  0.900185
11      GBP   8/2/2020  0.899325
12      GBP   8/3/2020  0.899350
13      GBP   8/4/2020  0.902815
14      GBP   8/5/2020  0.904500
15      GBP   8/6/2020  0.903835
16      GBP   8/7/2020  0.902860
17      GBP   8/8/2020  0.903200
18      GBP   8/9/2020  0.902780
19      GBP  8/10/2020  0.897750

In [12]:
currency_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB