# Time Sensitive Real Interview Questions-1

Use 'sales_082020.csv' and 'currency_rates_082020_EUR.csv' files

**Import libraries**

In [140]:
import numpy as np
import pandas as pd
import seaborn as sns

 
1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)

In [141]:
sales_df = pd.read_csv('sales_082020.csv')

In [147]:
currency_df = pd.read_csv('currency_rates_082020_EUR.csv')

In [142]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

 
2. How many columns in the sales dataset?(Just write the numbers)

3. What is the total number of sellers?(Just write the numbers in the format of 000.000)

In [143]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [144]:
sales_df["seller_id"].value_counts()

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
b79drc4f      1
ivtfeqcd      1
uvfzdgb4      1
pbrox97s      1
0au7baxi      1
Name: seller_id, Length: 114227, dtype: int64

In [145]:
sales_df.seller_id.nunique()

114227

 
4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )

In [152]:
currency_df.date.head()

0    8/1/2020
1    8/2/2020
2    8/3/2020
3    8/4/2020
4    8/5/2020
Name: date, dtype: object

In [155]:
sales_df.date = pd.to_datetime(sales_df.date)

In [157]:
sales_df.date.head()

0   2020-08-03
1   2020-08-09
2   2020-08-07
3   2020-08-09
4   2020-08-09
Name: date, dtype: datetime64[ns]

In [156]:
sales_df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [150]:
sales_df.date.head()

0    2020-08-03
1    2020-08-09
2    2020-08-07
3    2020-08-09
4    2020-08-09
Name: date, dtype: object

In [158]:
currency_df.date = pd.to_datetime(currency_df.date)

In [159]:
df_new = pd.merge(sales_df, currency_df, on=["date", "currency"])

In [160]:
df_new

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935
...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [164]:
df_new["total"] = df_new.price / df_new.rate
df_new

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [168]:
df_new.total.sum()

6471510.822498876

5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [169]:
df_new.brand.unique()

array([nan, 'Adidas Originals', 'Urban Outfitters', ..., 'Lisa Says Gah',
       'LC Lauren Conrad', 'KTZ'], dtype=object)

In [170]:
df_new.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

6. How many items in the “Jewellery” category have no brand associated with them?(Just write the numbers in the format of 00.000)

In [172]:
df_new.category.unique()

array(['Dresses', 'Outerwear - Mens', 'Tops - Womens', 'Bottoms - Womens',
       'Other', 'Accessories', 'Jewellery', 'Home', 'Music', 'Shoes',
       'Tops - Mens', 'Beauty', 'Bottoms - Mens', 'Art', 'Lingerie',
       'Outerwear', 'Tech', 'Sports equipment', 'Books & magazines',
       'Kids', 'Underwear', 'Transportation', 'Film', nan, 'UNSPECIFIED'],
      dtype=object)

In [177]:
df_new[(df_new.category == "Jewellery") & (df_new.brand.isnull())]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
12,p6nqo9ow69,GB,nssbpcrq,GB,wq0l762madfz,Jewellery,NaN,GBP,5.46,2020-08-03,0.899350,6.071051
13,p6nqo9ow69,GB,nssbpcrq,GB,barsdufpkov1,Jewellery,NaN,GBP,5.38,2020-08-03,0.899350,5.982098
14,p6nqo9ow69,GB,nssbpcrq,GB,sx4v979fwe9g,Jewellery,NaN,GBP,5.55,2020-08-03,0.899350,6.171124
17,pykp4zs8mc,GB,scikolkp,GB,737xf8jztbe3,Jewellery,NaN,GBP,3.16,2020-08-03,0.899350,3.513649
18,o5xp196pcv,GB,scikolkp,GB,737xf8jztbe3,Jewellery,NaN,GBP,3.19,2020-08-03,0.899350,3.547006
...,...,...,...,...,...,...,...,...,...,...,...,...
237559,r5yybfohtd,RoW,obj73jrd,RoW,cltpu36u88j9,Jewellery,NaN,CHF,51.37,2020-08-06,1.080625,47.537305
237603,cdg1teu4ci,RoW,qkbj84x9,RoW,57vayo0pe16h,Jewellery,NaN,CHF,6.43,2020-08-05,1.078185,5.963726
237605,akms2z4sfi,RoW,46doai5x,RoW,23m53gbwhy5i,Jewellery,NaN,CHF,12.98,2020-08-05,1.078185,12.038750
237644,5dqjb29gah,RoW,echsgc0o,RoW,gamzhdm6zesg,Jewellery,NaN,SEK,328.72,2020-08-07,10.314180,31.870687
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.414270,119.118223

In [178]:
df_new[(df_new.category == "Jewellery") & (df_new.brand.isnull())].product_code.nunique()

10931

 
7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

In [179]:
df_new.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

In [184]:
((df_new.brand.value_counts() >= 35) & (df_new.brand.value_counts() <= 55)).sum()

81

 
8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)

In [189]:
df_new.category.unique()

array(['Dresses', 'Outerwear - Mens', 'Tops - Womens', 'Bottoms - Womens',
       'Other', 'Accessories', 'Jewellery', 'Home', 'Music', 'Shoes',
       'Tops - Mens', 'Beauty', 'Bottoms - Mens', 'Art', 'Lingerie',
       'Outerwear', 'Tech', 'Sports equipment', 'Books & magazines',
       'Kids', 'Underwear', 'Transportation', 'Film', nan, 'UNSPECIFIED'],
      dtype=object)

In [192]:
len(df_new[(df_new.buyer_country == "AU") & (df_new.category == "Shoes")])

658

In [193]:
df_new[(df_new.buyer_country == "AU") & (df_new.category == "Shoes")].shape

(658, 12)

 
9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [207]:
df_new.groupby("brand")["price"].mean()

brand
& Other Stories    30.566358
032c               34.252727
11 Degrees         13.113939
1822 Denim         18.847500
3.1 Phillip Lim    35.616000
                     ...
ghd                56.146000
kensie             23.450000
liquid blue        46.085962
mixxmix            18.787500
philosophy         26.585000
Name: price, Length: 1134, dtype: float64

In [197]:
df_new.groupby("brand")["price"].mean().idxmax()

'Goyard'

In [205]:
df_new.groupby("brand")["price"].mean().max()

339.3633333333333

In [204]:
df_new.groupby("brand")["price"].mean().sort_values(ascending=False).head(1)

brand
Goyard    339.363333
Name: price, dtype: float64

In [200]:
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

10. What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers in the format of 0.000.000 )

In [210]:
df_new[(df_new.seller_country == "GB") & (df_new.buyer_country == "GB")]["total"].sum()

3526745.033129233

11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)

In [215]:
US_to_US = df_new[(df_new.seller_country == "US") & (df_new.buyer_country == "US")]["total"].sum()
US_to_US

2021779.311517296

In [216]:
US_to_all = df_new[df_new.seller_country == "US"]["total"].sum()
US_to_all

2106695.5606899997

In [217]:
US_to_US / US_to_all

0.9596922067159569

# THE END