## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Time Sensitive Real Interview Questions-2 <br> (28 Jun 22)</p>

### Use 'sales_082020.csv' and 'currency_rates_082020_EUR.csv' files

**Import libraries**

In [1]:
import numpy as np
import pandas as pd

In [2]:
# create dataframe of sales

df_sales0 = pd.read_csv('sales_082020.csv')
df_sales = df_sales0.copy()
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [3]:
df_sales.isnull().sum()

buyer_id               0
buyer_country          0
seller_id              0
seller_country         0
product_code           0
category              16
brand             118341
currency               0
price                  0
date                   0
dtype: int64

In [4]:
df_sales.duplicated().value_counts()

False    237631
True         40
dtype: int64

In [5]:
df_sales.drop_duplicates(subset=None, keep='first', inplace=True)

In [6]:
df_sales.duplicated().value_counts() # checking

False    237631
dtype: int64

In [7]:
df_sales.sample(10)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
20544,i85n07vjqy,US,pzsiehl0,US,qjdrcwym5i7s,Jewellery,NaN,USD,18.54,2020-08-08
161600,irvl0ok00g,GB,ru6o8vnx,GB,setwvo0aw0ru,Dresses,NaN,GBP,16.53,2020-08-03
114929,jaifc3pq9v,GB,c61khj04,GB,44hlutevxnzv,Tops - Womens,NaN,GBP,34.16,2020-08-08
97840,n0vme9r00z,GB,cs129dfg,GB,a2idmsicfhne,Bottoms - Womens,Topshop,GBP,14.20,2020-08-08
13624,zfz1y8lqjs,GB,93dom1w1,GB,8v5zc0vgk6qt,Tops - Womens,Topshop,GBP,5.61,2020-08-03
39519,pzxm49k05h,GB,iew4gst8,GB,z82oldjzvfnm,Jewellery,PANDORA,GBP,15.87,2020-08-07
196629,x7mfb5s1n1,GB,go2bt9xn,GB,iq6ej7cc0ej8,Jewellery,NaN,GBP,9.06,2020-08-09
214179,bjt5jqdgp9,US,hprkjjw1,US,l3xobeigh4y1,Dresses,PrettyLittle Thing,USD,16.63,2020-08-03
113727,ebxth07bhe,GB,8mcwf0wn,GB,ohvmgcjc958l,Bottoms - Mens,Nike,GBP,24.09,2020-08-05
199,5hu2pcfpxy,GB,scikolkp,GB,65h8gh11b5dq,Jewellery,NaN,GBP,4.30,2020-08-04

In [8]:
df_sales.nunique()

buyer_id          139700
buyer_country          9
seller_id         114227
seller_country         9
product_code      226311
category              24
brand               1134
currency              22
price              15336
date                   7
dtype: int64

In [9]:
df_sales["buyer_country"].unique()

array(['GB', 'IE', 'US', 'AU', 'DE', 'RoW', 'CA', 'IT', 'FR'],
      dtype=object)

In [10]:
df_sales.date.head() # date column data type is 'object', need to convert to 'datetime'

0    2020-08-03
1    2020-08-09
2    2020-08-07
3    2020-08-09
4    2020-08-09
Name: date, dtype: object

In [11]:
df_sales.date = pd.to_datetime(df_sales.date)

In [12]:
df_sales.date.head() # checking

0   2020-08-03
1   2020-08-09
2   2020-08-07
3   2020-08-09
4   2020-08-09
Name: date, dtype: datetime64[ns]

In [13]:
# create dataframe of currency

df_curr0 = pd.read_csv('currency_rates_082020_EUR.csv')
df_curr = df_curr0.copy()
df_curr.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [14]:
df_curr.isnull().sum()

currency    0
date        0
rate        0
dtype: int64

In [15]:
df_curr.duplicated().value_counts()

False    220
dtype: int64

In [16]:
df_curr.date.head()  # date column data type is 'object', need to convert to 'datetime'

0    8/1/2020
1    8/2/2020
2    8/3/2020
3    8/4/2020
4    8/5/2020
Name: date, dtype: object

In [17]:
df_curr.date = pd.to_datetime(df_curr.date)

In [18]:
df_curr.date.head() # checking

0   2020-08-01
1   2020-08-02
2   2020-08-03
3   2020-08-04
4   2020-08-05
Name: date, dtype: datetime64[ns]

In [19]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [20]:
df_curr.head()

  currency       date  rate
0      EUR 2020-08-01   1.0
1      EUR 2020-08-02   1.0
2      EUR 2020-08-03   1.0
3      EUR 2020-08-04   1.0
4      EUR 2020-08-05   1.0

In [21]:
# merge two dataframes

df_new = pd.merge(df_sales, df_curr, on=["date", "currency"])

df_new

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935
...,...,...,...,...,...,...,...,...,...,...,...
237626,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237627,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237628,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237629,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237630,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [22]:
df_new["total"] = df_new.price / df_new.rate
df_new

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237626,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237627,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237628,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237629,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237630,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [23]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237631 entries, 0 to 237630
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237631 non-null  object
 1   buyer_country   237631 non-null  object
 2   seller_id       237631 non-null  object
 3   seller_country  237631 non-null  object
 4   product_code    237631 non-null  object
 5   category        237615 non-null  object
 6   brand           119328 non-null  object
 7   currency        237631 non-null  object
 8   price           237631 non-null  float64
 9   date            237631 non-null  datetime64[ns]
 10  rate            237631 non-null  float64
 11  total           237631 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(8)
memory usage: 23.6+ MB

In [24]:
df_new.isnull().sum()

buyer_id               0
buyer_country          0
seller_id              0
seller_country         0
product_code           0
category              16
brand             118303
currency               0
price                  0
date                   0
rate                   0
total                  0
dtype: int64

In [25]:
df_new.duplicated().value_counts()

False    237631
dtype: int64

**1. Which country made the highest percentage of purchases?**

In [26]:
df_new["buyer_country"].value_counts()

GB     134696
US      82631
AU       7868
IE       4045
RoW      2880
IT       2532
CA       2247
DE        466
FR        266
Name: buyer_country, dtype: int64

In [27]:
df_new["buyer_country"].count()

237631

In [28]:
(df_new["buyer_country"].value_counts()) / (df_new["buyer_country"].count())

GB     0.566828
US     0.347728
AU     0.033110
IE     0.017022
RoW    0.012120
IT     0.010655
CA     0.009456
DE     0.001961
FR     0.001119
Name: buyer_country, dtype: float64

In [29]:
df_new["total"].sum()

6471266.356284026

In [30]:
df_new[df_new["buyer_country"] == "GB"]["total"].sum()

3578766.3502017986

In [31]:
(df_new[df_new["buyer_country"] == "GB"]["total"].sum()) / (df_new["total"].sum()) * 100

55.30241150909483

**2. Which day has the highest value of purchases?**

In [32]:
df_new[["total"]].max()

total    3045.065881
dtype: float64

In [33]:
df_new["total"].idxmax()

22018

In [34]:
df_new.iloc[df_new["total"].idxmax()]

buyer_id                   nihpetnpq7
buyer_country                      GB
seller_id                    o68e2qco
seller_country                     US
product_code             jl2uffnifg3f
category                          Art
brand                             NaN
currency                          GBP
price                         2738.58
date              2020-08-03 00:00:00
rate                          0.89935
total                     3045.065881
Name: 22018, dtype: object

In [ ]:
df_new["total"].min()

**3. Which category has 2,324 transactions on 7 August?**

In [35]:
df_new[df_new["date"] == '2020-08-07']["category"].value_counts()

Tops - Womens        6798
Tops - Mens          4834
Bottoms - Womens     4571
Shoes                3292
Accessories          3090
Dresses              3079
Jewellery            2324
Beauty               1296
Other                1014
Outerwear             917
Bottoms - Mens        826
Lingerie              788
Outerwear - Mens      552
Tech                  539
Home                  512
Music                 335
Art                   330
Kids                  317
Books & magazines     154
Film                   64
Sports equipment       63
Underwear              24
Transportation         16
UNSPECIFIED             1
Name: category, dtype: int64

In [38]:
transaction = df_new[df_new["date"] == '2020-08-07']["category"].value_counts()
transaction[transaction == 2324]

Jewellery    2324
Name: category, dtype: int64

**4. What percentage of global sales value on 4 August came from US sellers?**

In [39]:
df_new[(df_new["date"] == "2020-08-04") & (df_new["seller_country"] == "US")]["total"].sum()

311132.1376567811

In [40]:
df_new[df_new["date"] == "2020-08-04"]["total"].sum()

935128.4198830683

In [41]:
(df_new[(df_new["date"] == "2020-08-04") & (df_new["seller_country"] == "US")]["total"].sum()) / (df_new[df_new["date"] == "2020-08-04"]["total"].sum())

0.33271594685966893

**5. How many sellers in US has more than 75 sales?**

In [48]:
df_new[df_new["seller_country"] == "US"].groupby("seller_id")["total"].count()

seller_id
00185ns7    1
0020ayu8    1
002unmvv    1
0032a6rp    1
004sig8r    1
           ..
zzv6vtqq    1
zzwjh2fn    7
zzy25wr9    1
zzy993vl    1
zzythjtn    3
Name: total, Length: 34119, dtype: int64

In [42]:
df_new[df_new["seller_country"] == "US"]["seller_id"].nunique()

34119

In [43]:
df_new[df_new["seller_country"] == "US"][["seller_id"]].value_counts()

seller_id
pzsiehl0     703
wd3rgi3q     525
j21w87xy     500
ucp2k0nu     218
r64zesw6     211
            ...
evo9d2vu       1
evl1txv5       1
evkjcu3x       1
evjivady       1
i07ohhd1       1
Length: 34119, dtype: int64

In [44]:
[df_new[df_new["seller_country"] == "US"]["seller_id"].value_counts() > 75]

[pzsiehl0     True
 wd3rgi3q     True
 j21w87xy     True
 ucp2k0nu     True
 r64zesw6     True
             ...
 5jwrqavu    False
 v3jbqypj    False
 p1ziq1af    False
 x6pzj5e7    False
 w2pozh7u    False
 Name: seller_id, Length: 34119, dtype: bool]

In [49]:
(df_new[df_new["seller_country"] == "US"]["seller_id"].value_counts() > 75).sum()

22

In [50]:
df1 = df_new[df_new["seller_country"] == "US"][["seller_id"]].value_counts()

In [51]:
df1

seller_id
pzsiehl0     703
wd3rgi3q     525
j21w87xy     500
ucp2k0nu     218
r64zesw6     211
            ...
evo9d2vu       1
evl1txv5       1
evkjcu3x       1
evjivady       1
i07ohhd1       1
Length: 34119, dtype: int64

In [52]:
df1[df1.values > 75].count()

22

**6. Which seller in the US sold the most in terms of value?**

In [53]:
df_new[(df_new["seller_country"] == "US") & (df_new["total"] == df_new["total"].max())]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
22018,nihpetnpq7,GB,o68e2qco,US,jl2uffnifg3f,Art,NaN,GBP,2738.58,2020-08-03,0.89935,3045.065881

In [57]:
df_new[df_new["seller_id"] == 'o68e2qco']

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
22018,nihpetnpq7,GB,o68e2qco,US,jl2uffnifg3f,Art,NaN,GBP,2738.58,2020-08-03,0.89935,3045.065881

In [58]:
df_new[df_new["seller_country"] == "US"][["seller_id", "total"]]

       seller_id       total
2279    skmvdhuk  123.422472
2280    skmvdhuk   21.882471
6045    6wrqs7vq   42.797576
8089    4f4klmnu   38.071941
10105   vb2kphyp   10.729972
...          ...         ...
237580  nwf1wnr9   32.066781
237582  nwf1wnr9   30.258199
237599  8hqcuuzp   26.740100
237618  jjvkctil    1.236476
237629  w2pozh7u    5.514497

[82081 rows x 2 columns]

In [59]:
df2 = df_new[df_new["seller_country"] == "US"]
df2

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
2279,3j95yx6wup,GB,skmvdhuk,US,ync12uryxow0,Shoes,Nike,GBP,111.00,2020-08-03,0.89935,123.422472
2280,x7aa9gdbc4,US,skmvdhuk,US,jyz0v0al09uw,Tops - Mens,Hugo Boss,GBP,19.68,2020-08-03,0.89935,21.882471
6045,57o59g602o,GB,6wrqs7vq,US,cajxgdvj4pi7,Tops - Mens,Patagonia,GBP,38.49,2020-08-03,0.89935,42.797576
8089,ugqd9ybhv6,US,4f4klmnu,US,fv9znlng5p7f,Tops - Mens,NaN,GBP,34.24,2020-08-03,0.89935,38.071941
10105,c0926rtpnh,GB,vb2kphyp,US,thmojbwtriv6,Other,NaN,GBP,9.65,2020-08-03,0.89935,10.729972
...,...,...,...,...,...,...,...,...,...,...,...,...
237580,gaeeaczxhm,RoW,nwf1wnr9,US,hhyjdd6q4dd8,Art,NaN,SEK,329.98,2020-08-03,10.29040,32.066781
237582,6zqe0dq688,RoW,nwf1wnr9,US,7hb82zo1qwsx,Art,NaN,SEK,312.31,2020-08-06,10.32150,30.258199
237599,8qfb4oy0qx,US,8hqcuuzp,US,os3m6i2pyuns,Other,NaN,JPY,3352.54,2020-08-06,125.37500,26.740100
237618,n8toz7raxv,US,jjvkctil,US,7p6hqqxi87f6,Bottoms - Womens,ASOS,TWD,42.81,2020-08-04,34.62260,1.236476
237629,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497

In [60]:
df2.groupby("seller_id")[["total"]].sum().max()

total    20558.868517
dtype: float64

In [61]:
df2.groupby("seller_id")[["total"]].sum().idxmax()

total    pzsiehl0
dtype: object

**7. Which brand had the largest absolute € difference in average transaction value between domestic and international?**

In [62]:
df_new.groupby("brand")["total"].mean().sort_values(ascending=False)

brand
Goyard            338.926936
Loewe             334.530369
Craig Green       266.792684
TAG Heuer         224.586782
Emilio Pucci      214.758636
                     ...
Popular Sports      4.452175
Max Factor          4.329298
Bronica             3.329066
360 Cashmere        0.950906
36572               0.950199
Name: total, Length: 1134, dtype: float64

In [63]:
df3 = df_new[(df_new.seller_country == df_new.buyer_country)][["brand","total"]].sort_values(by="brand", ascending=False)
df3

             brand      total
140164  philosophy  23.610842
226616  philosophy  35.324508
192434  philosophy  12.013235
125764  philosophy  19.128587
200362     mixxmix   5.831842
...            ...        ...
237621         NaN  58.111641
237622         NaN   6.071314
237624         NaN   1.037087
237625         NaN   1.018893
237626         NaN   0.964309

[229175 rows x 2 columns]

In [64]:
df3.groupby("brand")["total"].mean().sort_values(ascending=False)

brand
TAG Heuer           224.586782
Canada Goose        216.424622
Emilio Pucci        214.758636
Loeffler Randall    207.720370
Goyard              202.661941
                       ...
Popular Sports        4.452175
Max Factor            4.329298
Bronica               3.329066
360 Cashmere          0.950906
36572                 0.950199
Name: total, Length: 1121, dtype: float64

In [65]:
df33 = df3.groupby("brand")["total"].mean().sort_values(ascending=False)
df33

brand
TAG Heuer           224.586782
Canada Goose        216.424622
Emilio Pucci        214.758636
Loeffler Randall    207.720370
Goyard              202.661941
                       ...
Popular Sports        4.452175
Max Factor            4.329298
Bronica               3.329066
360 Cashmere          0.950906
36572                 0.950199
Name: total, Length: 1121, dtype: float64

In [66]:
df4 = df_new[(df_new.seller_country != df_new.buyer_country)][["brand","total"]].sort_values(by="brand", ascending=False)
df4

        brand       total
58426     ghd  151.296990
89541     ghd   57.810945
33315   Zoeva   21.455947
10072    Zara   26.218936
32713    Zara   36.509449
...       ...         ...
237617    NaN   53.004529
237623    NaN  106.618862
237627    NaN  150.177617
237628    NaN  119.118223
237630    NaN   50.074210

[8456 rows x 2 columns]

In [67]:
df4.groupby("brand")["total"].mean().sort_values(ascending=False)

brand
Goyard          611.456926
Loewe           461.082817
Needles         314.338133
Hermes          267.749153
Craig Green     266.792684
                   ...
Canada Goose      6.195821
NICCE             5.377624
Skinnydip         4.740491
COS               1.189748
Old Navy          0.960680
Name: total, Length: 440, dtype: float64

In [68]:
df44 = df4.groupby("brand")["total"].mean().sort_values(ascending=False)
df44

brand
Goyard          611.456926
Loewe           461.082817
Needles         314.338133
Hermes          267.749153
Craig Green     266.792684
                   ...
Canada Goose      6.195821
NICCE             5.377624
Skinnydip         4.740491
COS               1.189748
Old Navy          0.960680
Name: total, Length: 440, dtype: float64

In [69]:
df_new2 = pd.merge(df33, df44, on = ["brand"])
df_new2

                        total_x     total_y
brand
Canada Goose         216.424622    6.195821
Goyard               202.661941  611.456926
Christian Louboutin  189.524004  173.231934
Rick Owens           181.538313   60.112860
Yeezy                180.944067  160.748958
...                         ...         ...
NYX                    8.270853    8.005782
Romwe                  7.795899   35.697774
Vintage Havana         7.680359   33.118412
Barry M                6.114212   13.413601
Sleek                  5.186274    7.044906

[427 rows x 2 columns]

In [70]:
abs(df_new2["total_x"] - df_new2["total_y"]).max()

408.7949845812932

In [71]:
abs(df_new2["total_x"] - df_new2["total_y"]).idxmax()

'Goyard'

# THE END